<md-content layout-padding flex ng-controller="MaintenanceCtrl as vm">
    <div layout="row">
      <div id="challenges" style="width:100%;">
        <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols="2" md-row-height="2:1" md-gutter="24px" md-gutter-gt-sm="16px">
          <md-grid-tile
          ng-repeat="challenge in challenges"
          class="animated fadeInUp
 challenge {{ challenge.type }}"
          ng-style="{'animation-delay': '0.'+$index+'s'};"
          layout="row">
            <div class="backCard ">
              <i class="{{ challenge.icon }}"></i>
              <span class="titleObj"> <span class="title">{{ challenge.title }}</span><br/> + {{ challenge.gain }} pts</span>
              <md-grid-tile-footer>
                <h3>{{ challenge.detail }}</h3>
              </md-grid-tile-footer>
            </div>
          </md-grid-tile>

          <!--<md-grid-tile class="challenge {{ challenges[0].type }}" layout="row">
            <div class="backCard">
              <i class="{{ challenges[0].icon }}"></i>
              <span class="titleObj"> <span class="title">{{ challenges[0].title }}</span><br/> + {{ challenges[0].gain }} pts</span>
              <md-grid-tile-footer>
                <h3>{{ challenges[0].detail }}</h3>
              </md-grid-tile-footer>
            </div>
          </md-grid-tile>

          <md-grid-tile class="challenge {{ challenges[1].type }}" layout="row">
          <div class="backCard">
            <i class="{{ challenges[1].icon }}"></i>
            <span class="titleObj"> <span class="title">{{ challenges[1].title }}</span><br/> + {{ challenges[1].gain }} pts</span>
            <md-grid-tile-footer>
              <h3>{{ challenges[1].detail }}</h3>
            </md-grid-tile-footer>
          </div>
        </md-grid-tile>

          <md-grid-tile class="challenge {{ challenges[2].type }}" layout="row">
            <div class="backCard">
              <i class="{{ challenges[2].icon }}"></i>
              <span class="titleObj"> <span class="title">{{ challenges[2].title }}</span><br/> + {{ challenges[2].gain }} pts</span>
              <md-grid-tile-footer>
                <h3>{{ challenges[2].detail }}</h3>
              </md-grid-tile-footer>
            </div>
          </md-grid-tile>

          <md-grid-tile class="challenge {{ challenges[3].type }}" layout="row">
            <div class="backCard">
              <i class="{{ challenges[3].icon }}"></i>
              <span class="titleObj"> <span class="title">{{ challenges[3].title }}</span><br/> + {{ challenges[3].gain }} pts</span>
              <md-grid-tile-footer>
                <h3>{{ challenges[3].detail }}</h3>
              </md-grid-tile-footer>
            </div>
          </md-grid-tile>

          <md-grid-tile class="challenge {{ challenges[4].type }}" layout="row">
            <div class="backCard">
              <i class="{{ challenges[4].icon }}"></i>
              <span class="titleObj"> <span class="title">{{ challenges[4].title }}</span><br/> + {{ challenges[4].gain }} pts</span>
              <md-grid-tile-footer>
                <h3>{{ challenges[4].detail }}</h3>
              </md-grid-tile-footer>
            </div>
          </md-grid-tile>-->

        </md-grid-list>
      </div>
    </div>
</md-content>
