<md-content layout-padding flex ng-controller="MaintenanceCtrl as vm">
    <div layout="row">
        <div flex ng-repeat="mychallenge in vm.challenges"> 
            
            <ec-maintenance title="{{ mychallenge.title }}" 
                            detail="{{ mychallenge.detail }}" 
                            gain="{{ mychallenge.gain }}"
                            display="{{ mychallenge.challengeUser.display }}"
                            icon="{{ mychallenge.challengeUser.challengeIcon }}"
                            state="{{ mychallenge.challengeUser.state }}"
                            challengeid="{{ mychallenge.idChallenge }}"
                            thechallenge="mychallenge">
            </ec-maintenance>
        </div>
    </div>
</md-content>
      