<md-content layout-padding flex>
    <label>Coordinates
        <span>{{coordinates.latitude.toFixed(2)}}, {{coordinates.longitude.toFixed(2)}}, {{coordinates.altitude.toFixed(2)}}</span>
    </label>
    <br/>
    <label>Speed
        <span>{{speed * 3.6}}</span>
    </label>
    <br/>
    <label>Speed limit
        <span>{{speedBox}}</span>
    </label>
    <br/>
    <label>Acceleration
        <span>{{acceleration.x.toFixed(2)}}, {{acceleration.y.toFixed(2)}}, {{acceleration.z.toFixed(2)}}</span>
    </label>
    <br/>
    <label>Distance
        <span>{{distance}}</span>
    </label>
    <br/>
    <label>Points
        <span>{{points}}</span>
    </label>
    <br/>
    <label>Accuracy
        <span>{{accuracy}}</span>
    </label>
    <br/>
    <label>Speed progress
        <span>{{speedProgress}}</span>
    </label>
    <br/>
    <label>Acceleration progress
        <span>{{accelerationProgress}}</span>
    </label>
    <br/>
    <label>Braking progress
        <span>{{brakingProgress}}</span>
    </label>
    <br/>
    <label>Temperature
        <span>{{temperature}}</span>
    </label>
    <br/>
    <label>Pressure
        <span>{{pressure}}</span>
    </label>
    <br/>
    <label>Humidity
        <span>{{humidity}}</span>
    </label>
    <br/>
    <label>Wind speed
        <span>{{windSpeed}}</span>
    </label>
    <br/>
    <label>Brakes
        <span>{{brakes}}</span>
    </label>
    <br/>
    <label>Violent brakes
        <span>{{violentBrakes}}</span>
    </label>
    <br/>
    <label>Is breaking violently
        <span>{{violentBraking}}</span>
    </label>
    <br/>
    <label>Driving
        <span>{{driving}}</span>
    </label>
    <div>
        <md-input-container>
            <label>Acceleration speed threshold</label>
            <input ng-model="accelerationSpeedThreshold" type="number">
        </md-input-container>
        <md-input-container>
            <label>Acceleration intensity threshold</label>
            <input ng-model="accelerationIntensityThreshold" type="number">
        </md-input-container>
        <md-input-container>
            <label>Acceleration increment</label>
            <input ng-model="accelerationIncrement" type="number">
        </md-input-container>
        <md-input-container>
            <label>Acceleration decrement</label>
            <input ng-model="accelerationDecrement" type="number">
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <label>Breaking speed threshold</label>
            <input ng-model="brakingSpeedThreshold" type="number">
        </md-input-container>
        <md-input-container>
            <label>Breaking intensity threshold</label>
            <input ng-model="brakingIntensityThreshold" type="number">
        </md-input-container>
        <md-input-container>
            <label>Breaking increment</label>
            <input ng-model="brakingIncrement" type="number">
        </md-input-container>
        <md-input-container>
            <label>Breaking decrement</label>
            <input ng-model="brakingDecrement" type="number">
        </md-input-container>
    </div>
    <div>
        <label>Override</label>
        <md-switch ng-model="overrideSpeedLimit"></md-switch>
        <md-input-container>
            <label>Override speed</label>
            <input ng-model="speedLimitOverride" type="number">
        </md-input-container>
    </div>
</md-content>