<div id="contentView">
  <div class="headerHome">
  <div class="circle">

    <div class="circleInt">
      <p>+ 200pts</p>
    </div>


  </div>
  <div id="jauges">
    <p>Vitesse</p>
    <progress max="100" value="80"></progress>
  </div>
</div>

  <div id="challenges">
    <div class="card" style="float:left">
    <div class="item item-text-wrap" >
      <h1> Pneumatique </h1>
      <img src="img/check.png"/>
      <p> Vérifier la pression de vos pneus?<a href>Oui</a> <a href>Non</a> <a href>Plus tard</a></p>
      <p class="point"> + 50 pts</p>

    </div>
  </div>

<div class="card" style="float:right">
    <div class="item item-text-wrap" >
      This is a basic Card which contains an item that has wrapping text.
    </div>
  </div>
</div>
</div>
