<div id="contentView" class="loginScreen" ng-controller="LoginCtrl as vm">
  <div class="content">

    <br/><br/>
    <h2 class="title">Entrer et commencer à rouler.</h2>
    <br/><br/>
    <div id="toolBarLogin">
      <a style="color:black;">Connexion avec...</a><br/>
      <a href="" ng-click="loginFacebook()" style="text-decoration: none;">
        <img src="../img/facebook-login.png" alt="Login with facebook" style="height:50px;text-align:center; margin-left:3px;" />
      </a>

      <br/>
      <a href="" ng-click="loginGoogle()" style="text-decoration: none;">
        <img src="../img/google-login-register.png" alt="Login with Google" style="height:50px;text-align:center;" />
      </a>
      <br/><br/>

      <a ui-sref="app.sensors">home</a>
    </div>
  </div>

</div>
