<div id="contentView" class="loginScreen" ng-controller="LoginCtrl as vm">
  <div class="content">

    <br/><br/>

    <div id="tileLogin">
    <img src="img/logo.png" />
    <h2 class="title">Mettez votre conduite à l'éco-épreuve</h2>
  </div>
    <br/><br/>
    <div id="toolBarLogin">
      <a href="" ng-click="loginFacebook()" style="text-decoration: none;margin-left: 15%;">
        <img src="img/facebook-login.png" alt="Login with facebook"/>
      </a>

      <a href="" ng-click="loginGoogle()" style="text-decoration: none;margin-left: 10%;">
        <img src="img/google-login-register.png" alt="Login with Google" />
      </a>
      <br/><br/>

      <a ui-sref="app.sensors">home</a>
    </div>
  </div>

</div>
