<md-content layout="row" flex>
  <md-sidenav class="md-sidenav-left" md-component-id="sidebar" layout="column" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="16">
    <md-toolbar class="extra-tall" layout="column">
    </md-toolbar>
    <md-content md-whiteframe="8" flex>
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="app.sensors" ng-click="toggleSidenav('sidebar')">
            <md-icon aria-label="Challenges" md-font-library="material-icons">navigation</md-icon> Challenges
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="app.store" ng-click="toggleSidenav('sidebar')">
            <md-icon aria-label="Store" md-font-library="material-icons">shop</md-icon> Store
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="app.settings" ng-click="toggleSidenav('sidebar')">
            <md-icon aria-label="Paramètres" md-font-library="material-icons">settings</md-icon> Paramètres
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-content>
  </md-sidenav>

  <md-content flex>
    <md-toolbar md-whiteframe="1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSidenav('sidebar')" hide-gt-md>
          <md-icon aria-label="Menu" md-font-library="material-icons">menu</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <ui-view name="menuContent"></ui-view>
  </md-content>
</md-content>