<md-content layout="row" flex >
  <md-sidenav class="md-sidenav-left persoSideNav" md-component-id="sidebar" md-disable-backdrop layout="column" md-is-locked-open="true" md-whiteframe="16">
    <md-content md-whiteframe="8" flex="33">
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="app.sensors" >
            <md-icon aria-label="Home" md-font-library="material-icons">home</md-icon>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="app.challenges" >
            <md-icon aria-label="Challenges" md-font-library="material-icons">school</md-icon>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="app.store" >
            <md-icon aria-label="Store" md-font-library="material-icons">shop</md-icon>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="app.settings" >
            <md-icon aria-label="Paramètres" md-font-library="material-icons">settings</md-icon>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-content>
  </md-sidenav>

  <md-content flex id="content">
    <ui-view name="menuContent"></ui-view>
  </md-content>
</md-content>
