<md-content layout-padding flex>
    <section ng-hide="loaded" layout-align="center center" flex layout="column">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </section>
    <div ng-show="loaded">
        <ec-progress-bars></ec-progress-bars>
        <div>
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols="3" md-row-height="2:1" md-gutter="24px" md-gutter-gt-sm="16px">
                <md-grid-tile class="green-hue-1 challenge">
                    <md-icon md-font-library="material-icons">navigation</md-icon>
                    <md-grid-tile-footer>
                        <h3>Réduisez votre vitesse de 5km/h sur ce trajet</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="green-hue-1 challenge">
                    <i class="mdi mdi-weather-pouring"></i>
                    <md-grid-tile-footer>
                        <h3>Adaptez votre vitesse au temps pluvieux</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="green-hue-1 challenge">
                    <i class="mdi mdi-gauge"></i>
                    <md-grid-tile-footer>
                        <h3>Adoptez une conduite souple cette semaine</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</md-content>