


<div id="store" >
  <div class="header" style="height:50px;background-color: rgb(76, 175, 80);">
    <p><span class="titleScreen">Boutique</span> Vos points: 500 pts</p>
  </div>

  <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols="1" md-row-height="2:1" md-gutter="0px" md-gutter-gt-sm="0px">
    <md-grid-tile class="challenge promo" layout="row">
      <div class="backCard">
        <md-icon md-font-library="material-icons">directions_car</md-icon>
        <span class="titleObj"> <span class="title">Amortisseur</span><br/> - 15% sur les amortisseurs Monroe </span>
        <md-grid-tile-footer class="store">
          <h3><strong>Coût:</strong> 50 points </h3> <md-button class="md-raised md-primary buy" style="float:right">Acheter</md-button>
        </md-grid-tile-footer>
      </div>
    </md-grid-tile>

    <md-grid-tile class="challenge promo" layout="row">
      <div class="backCard">
        <i class="mdi mdi-weather-pouring"></i>
        <span class="titleObj"> <span class="title">Adapter votre conduite</span><br/> + 20 pts</span>
        <md-grid-tile-footer class="store">
          <h3><strong>Coût:</strong> 10 points </h3> <md-button class="md-raised md-primary buy" style="float:right">Acheter</md-button>
        </md-grid-tile-footer>
      </div>
    </md-grid-tile>


    <md-grid-tile class="challenge promo" layout="row">
      <div class="backCard">
        <md-icon md-font-library="material-icons">navigation</md-icon>
        <span class="titleObj"> <span class="title">Réduire la vitesse</span><br/> + 50 pts</span>
        <md-grid-tile-footer class="store">
          <h3><strong>Coût:</strong> 50 points </h3> <md-button class="buy" style="color:black;background-color:rgb(16,108,200);float:right">Acheter</md-button>
        </md-grid-tile-footer>
      </div>
    </md-grid-tile>

    <md-grid-tile class="challenge promo" layout="row">
      <div class="backCard">
        <i class="mdi mdi-weather-pouring"></i>
        <span class="titleObj"> <span class="title">Adapter votre conduite</span><br/> + 20 pts</span>
        <md-grid-tile-footer class="store">
          <h3><strong>Coût:</strong> 50 points </h3> <md-button class="md-raised md-primary buy" style="float:right">Acheter</md-button>
        </md-grid-tile-footer>
      </div>
    </md-grid-tile>

    <md-grid-tile class="challenge promo" layout="row">
      <div class="backCard">
        <md-icon md-font-library="material-icons">navigation</md-icon>
        <span class="titleObj"> <span class="title">Réduire la vitesse</span><br/> + 50 pts</span>
        <md-grid-tile-footer class="store">
          <h3><strong>Coût:</strong> 50 points </h3> <md-button class="md-raised md-primary buy" style="float:right">Acheter</md-button>
      </md-grid-tile-footer>
      </div>
    </md-grid-tile>

    <md-grid-tile class="challenge promo" layout="row">
      <div class="backCard">
        <i class="mdi mdi-weather-pouring"></i>
        <span class="titleObj"> <span class="title">Adapter votre conduite</span><br/> + 20 pts</span>
        <md-grid-tile-footer class="store">
          <h3><strong>Coût:</strong> 100 points </h3> <md-button class="md-raised md-primary buy" style="float:right">Acheter</md-button>
      </md-grid-tile-footer>
      </div>
    </md-grid-tile>

  </md-grid-list>
</div>
