


<div id="store" >
  <div class="header animated slideInLeft" style="height:50px;background-color: rgb(76, 175, 80);">
    <p><span class="titleScreen">Boutique</span> Vos points: {{points}} pts</p>
  </div>

  <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols="1" md-row-height="2:1" md-gutter="24px" md-gutter-gt-sm="0px">

    <md-grid-tile class="challenge promo animated fadeInUp" style="animation-delay: 0.1s;" layout="row">
      <div class="backCard" ng-click="amort= !amort">
        <img src="img/amort.jpg" style="width: 64px;margin:10px;border-radius: 100%;"/>
        <span class="titleObj">
          <span class="title">Amortisseur</span><br/>
          - 10% sur les amortisseurs Monroe
          <span class="point"> 10 000 points </span>
        </span>
        <md-grid-tile-footer class="store animated fadeIn" ng-if="amort">
          <h3>
            <strong>Détail:</strong> Sur les amortisseur Moroe dans les centres partenaires<br />
            <strong>Coût:</strong> 10 000 points </h3>
            <md-button class="md-fab md-mini buyButton" aria-label="Add cart">
              <i class="icon ion-ios-cart-outline" style="font-size: 25px;margin:0;"></i>
            </md-button>
          </md-grid-tile-footer>
        </div>
      </md-grid-tile>


      <md-grid-tile class="challenge promo animated fadeInUp" style="animation-delay: 0.2s;" layout="row">
        <div class="backCard" ng-click="obd= !obd">
          <img src="img/michelinDrivers.jpg" style="width: 64px;margin:10px;border-radius: 100%;"/>
          <span class="titleObj">
            <span class="title">Pneu carré</span>
            <br/> Compagnon OBD
            <span class="point"> 100 000 points </span>
          </span>
          <md-grid-tile-footer class="store animated fadeIn" ng-if="obd">
            <h3><strong>Coût:</strong> 50 000 points </h3>
            <md-button class="md-fab md-mini buyButton" aria-label="Add cart">
              <i class="icon ion-ios-cart-outline" style="font-size: 25px;margin:0;"></i>
            </md-button>
          </md-grid-tile-footer>
        </div>
      </md-grid-tile>


      <md-grid-tile class="challenge promo animated fadeInUp" style="animation-delay: 0.3s;" layout="row">
        <div class="backCard" ng-click="obd= !obd">
          <img src="img/hodor-ikea.jpg" style="width: 64px;margin:10px;border-radius: 100%;"/>
          <span class="titleObj">
            <span class="title">Cale-porte "Hold the door"</span>
            <br/> Modéle unique
            <span class="point"> 5 000 points </span>
          </span>
          <md-grid-tile-footer class="store animated fadeIn" ng-if="obd">
            <h3><strong>Coût:</strong> 50 000 points </h3>
            <md-button class="md-fab md-mini buyButton" aria-label="Add cart">
              <i class="icon ion-ios-cart-outline" style="font-size: 25px;margin:0;"></i>
            </md-button>
          </md-grid-tile-footer>
        </div>
      </md-grid-tile>

      <md-grid-tile class="challenge promo animated fadeInUp" style="animation-delay: 0.4s;" layout="row">
        <div class="backCard" ng-click="obd= !obd">
          <img src="img/logo-moteur.png" style="width: 64px;margin:10px; border-radius: 100%;"/>
          <span class="titleObj">
            <span class="title">Révision</span>
            <br/> Révision de votre véhicule
            <span class="point"> 50 000 points </span>
          </span>
          <md-grid-tile-footer class="store animated fadeIn" ng-if="obd">
            <h3>
              <strong>Détail:</strong> Chez notre partenaire Euromaster<br />
              <strong>Coût:</strong> 50 000 points </h3>
            <md-button class="md-fab md-mini buyButton" aria-label="Add cart">
              <i class="icon ion-ios-cart-outline" style="font-size: 25px;margin:0;"></i>
            </md-button>
          </md-grid-tile-footer>
        </div>
      </md-grid-tile>

      <md-grid-tile class="challenge promo animated fadeInUp" style="animation-delay: 0.5s;" layout="row">
        <div class="backCard" ng-click="obd= !obd">
          <img src="img/bibendum_goodies.jpg" style="width: 64px;margin:10px; border-radius: 100%;"/>
          <span class="titleObj">
            <span class="title">Goodies</span>
            <br/> Porte-clé Michelin
            <span class="point"> 50 000 points </span>
          </span>
          <md-grid-tile-footer class="store animated fadeIn" ng-if="obd">
            <h3><strong>Coût:</strong> 50 000 points </h3>
            <md-button class="md-fab md-mini buyButton" aria-label="Add cart">
              <i class="icon ion-ios-cart-outline" style="font-size: 25px;margin:0;"></i>
            </md-button>
          </md-grid-tile-footer>
        </div>
      </md-grid-tile>

      <md-grid-tile class="challenge promo animated fadeInUp" style="animation-delay: 0.6s;" layout="row">
        <div class="backCard" ng-click="obd= !obd">
          <img src="img/logo-theme.png" style="width: 64px;margin:10px;border-radius: 100%;"/>
          <span class="titleObj">
            <span class="title">Thème</span>
            <br/> Changer le thème
            <span class="point"> 50 000 points </span>
          </span>
          <md-grid-tile-footer class="store animated fadeIn" ng-if="obd">
            <h3>
              <strong>Détail:</strong> Changer le thème de l'application<br />
              <strong>Coût:</strong> 50 000 points </h3>
            <md-button class="md-fab md-mini buyButton" aria-label="Add cart">
              <i class="icon ion-ios-cart-outline" style="font-size: 25px;margin:0;"></i>
            </md-button>
          </md-grid-tile-footer>
        </div>
      </md-grid-tile>

    </md-grid-list>
  </div>
