
  <h1>Store</h1>

<div id="stores" >
    <md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols="1" md-row-height="2:1" md-gutter="0px" md-gutter-gt-sm="0px">
        <md-grid-tile class="challenge promo" layout="row">
          <div class="backCard">
            <md-icon md-font-library="material-icons">directions_car</md-icon>
            <span class="titleObj"> <span class="title">Amortisseur</span><br/> - 15% sur les amortisseurs Monroe dans les boutiques partenaires</span>
            <md-grid-tile-footer class="store">
                <h3><strong>Coût:</strong> 50 points</h3>
            </md-grid-tile-footer>
            </div>
        </md-grid-tile>

        <md-grid-tile class="challenge meteo bad" layout="row">
          <div class="backCard">
            <i class="mdi mdi-weather-pouring"></i>
            <span class="titleObj"> <span class="title">Adapter votre conduite</span><br/> + 20 pts</span>
            <md-grid-tile-footer>
                <h3>Adaptez votre vitesse au temps pluvieux</h3>
            </md-grid-tile-footer>
          </div>
        </md-grid-tile>


        <md-grid-tile class="challenge navigation" layout="row">
          <div class="backCard">
            <md-icon md-font-library="material-icons">navigation</md-icon>
            <span class="titleObj"> <span class="title">Réduire la vitesse</span><br/> + 50 pts</span>
            <md-grid-tile-footer>
                <h3>Réduisez votre vitesse de 5km/h sur ce trajet</h3>
            </md-grid-tile-footer>
            </div>
        </md-grid-tile>

        <md-grid-tile class="challenge meteo bad" layout="row">
          <div class="backCard">
            <i class="mdi mdi-weather-pouring"></i>
            <span class="titleObj"> <span class="title">Adapter votre conduite</span><br/> + 20 pts</span>
            <md-grid-tile-footer>
                <h3>Adaptez votre vitesse au temps pluvieux</h3>
            </md-grid-tile-footer>
          </div>
        </md-grid-tile>

        <md-grid-tile class="challenge navigation" layout="row">
          <div class="backCard">
            <md-icon md-font-library="material-icons">navigation</md-icon>
            <span class="titleObj"> <span class="title">Réduire la vitesse</span><br/> + 50 pts</span>
            <md-grid-tile-footer>
                <h3>Réduisez votre vitesse de 5km/h sur ce trajet</h3>
            </md-grid-tile-footer>
            </div>
        </md-grid-tile>

        <md-grid-tile class="challenge meteo bad" layout="row">
          <div class="backCard">
            <i class="mdi mdi-weather-pouring"></i>
            <span class="titleObj"> <span class="title">Adapter votre conduite</span><br/> + 20 pts</span>
            <md-grid-tile-footer>
                <h3>Adaptez votre vitesse au temps pluvieux</h3>
            </md-grid-tile-footer>
          </div>
        </md-grid-tile>

    </md-grid-list>
</div>
