.progress-bars-card {
  height: 90%;
 padding: 10px;
}

#progressBar
{
  width: 45%;
  height: 100%;
  float: left;
}

.hexagone
{
  width: 50%;
  margin-left: 25%;
}

.points-counter{
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  color: #3e2b12;
}

.progress-bars .points {

}

.points-counter .point
{
  font-size: 2em;
  font-weight: bold;
}

.navigation
{
  background-image: url(../../img/testBack.jpg);
  background-size: 100%;
  background-position: bottom;
}

.backCard
{
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(76,175,80,0.9) 0%, rgba(76,175,80,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(76,175,80,0.9) 0%,rgba(76,175,80,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(76,175,80,0.9) 0%,rgba(76,175,80,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.backCard md-icon
{
  margin-top: 40px;
  margin-left: 20px;
}
