md-toolbar.extra-tall {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}


.md-whiteframe-16dp {
    max-width: 60px!important;
    background-color: rgb(76,175,80);
}


.md-whiteframe-8dp {
  background-color: rgb(76,175,80);
}

md-menu-content.md-default-theme, md-menu-content
{
  background-color: transparent;
}

.persoSideNav {
  width: 60px;
  min-width: 60px;
}

.persoSideNav md-menu-content{
  width: 60px;
  min-width: 60px;
}

.persoSideNav md-icon{
  color: white;
}

.persoSideNav .md-button {
  min-width: 60px!important;
  width: 60px;
}

.challenge-progress {
  height: 192px;
}

.challenge md-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: white;
}

.challenge i {
  width: 64px;
  height: 64px;
  font-size: 64px;
  color: white;
}

.challenge h3 {
  color: white;
  border: 0;
}

.green-hue-1 {
  background-color:rgb(76,175,80);
}

#challenges
{
  width: 50%;
  float: right;
}

#content
{
  height: 100%;
}

#content md-content
{
  height: 100%;
}
