
md-toolbar.extra-tall {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}


.md-whiteframe-16dp {
    max-width: 60px!important;
    background-color: rgb(76,175,80);
}


.md-whiteframe-8dp {
  background-color: rgb(76,175,80);
}

md-menu-content.md-default-theme, md-menu-content
{
  background-color: transparent;
}

.persoSideNav {
  width: 60px;
  min-width: 60px;
}


.persoSideNav md-menu-content{
  width: 60px;
  min-width: 60px;
}

.persoSideNav md-icon{
  color: white;
}

.persoSideNav .md-button {
  min-width: 60px!important;
  width: 60px;
}
/* Empty. Add your own CSS if you like */

@font-face {
    font-family: caviarDreams;
    src: url(../font/CaviarDreams.ttf);
}

.circle
{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: solid 5px #339933;
}

progress[value] {
  -webkit-appearance: none;
 appearance: none;
  width: 100%;
  height: 10px;
}

.okResult progress[value]::-webkit-progress-value {
  background-color: #339933;
}

.midResult progress[value]::-webkit-progress-value {
  background-color: orange;
}

.badResult progress[value]::-webkit-progress-value {
  background-color: red;
}


progress[value]::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}

#jauges progress[value], #jauges p
{
  margin: 0;
}

#jauges
{
  position: absolute;
  left: 45%;
  top: 15%;
  width: 40%;
}

.headerHome
{
  padding:5%;
}

body{
  background-color:  rgba(239,239,239,0.3);
  font-family: Roboto;
}

#contentView{
  -vendor-animation-duration: 0.3s;
  animation-duration:0.5s;
  width: 75%;
  padding: 2%;
  background-color:  rgba(239,239,239,0.3);
}


.circle p{
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  display: table-cell;
  font-family: caviarDreams!important;
  color: #339933;
  vertical-align: middle;
  padding: 10px;
  height: 140px;
}


#challenges .card{
  width: 45%;
  animation-name: validChallenge;
animation-duration: 2s;
}

#challenges .card h1{
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: solid 2px #339933;
}

#challenges .card img{
    width: 60px;
    float: left;
}

#challenges .card .point
{
  width: 60px;
  float: left;
  color: #339933;
}

#challenges .card p{
    width: calc(100% - 65px);
    float: right;
}


@keyframes validChallenge {
    from {background-color: rgba(239,239,239,0.3);}
    to {background-color: #339933;}
}

#challenges .card.ng-leave {
	animation: bounceOutDown 2s;
}

#leftMenu .menuLeftItem , #leftMenu  .item-content
{
  background-color: transparent;
  color: white;
  border: 0;
}

<<<<<<< HEAD
.green-hue-1 {
  background-color:rgb(76,175,80);
}

#challenges
{
  width: 50%;
  height: 100%;
  float: right;
=======
#leftMenu {
  font-family: caviarDreams!important;
  font-weight: bold;
  padding-top: 50px;
  width: 25%;
  height: 100%;
  background-color: #339933;
  float: left;
  z-index: 999;
>>>>>>> designIntegration
}

#content
{
<<<<<<< HEAD
  height: 100%;
}

#content md-content
{
  height: 100%;
}

.loginScreen
{
  background-image: url(/img/login.JPG);
  background-size: 100%;
  background-position: bottom;
}

.loginScreen h2
{
    color: white;
    text-align: center;
}

.loginScreen img{
  width: 30%;
}

.loginScreen .content{
  width: 100%;
  height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#toolBarLogin
{

  padding-top: 20px;
}

#tileLogin
{
  width: 100%;
  margin-left: 0%;
  text-align: center;
  padding: 20px;
}


#tileLogin h2{
  color: black;
}


#toolBarLogin h2
{

  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: 25%;
  width: 75%;
  background-color: rgba(239,239,239,0.3);
}
